<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{#books}}
  <article class="book" style="background: url('{{book_image}}') no-repeat; background-size: cover; background-color: black;">
      <h2>{{title}}</h2>
      by <strong>{{author}}</strong>
  </article>
{{/books}}
